.sidebar {
    width: 150px;
    height: 100%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(2, 4, 24, 0.5);
    border-right: 2px solid rgba(255, 255, 255, .09);
    transition: .4s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar.open {
    width: 360px;
}

.sidebar .logo {
    padding: 1rem 0 0;
    text-align: center;
}

.sidebar .logo img {
    width: 100px;
    transition: .4s;
}
.sidebar.open .logo img {
    width: 150px;
    transition: .4s;
}

.sidebar .user {
    flex-grow: 1;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.sidebar .user img {
    height: 75px;
    transition: .4s;
}

.sidebar.open .user img {
    height: 100px;
}

.sidebar .user h3 {
    color: #000;
    font-size: 1.25rem;
    margin-top: 12px;
    font-variant: small-caps;
    pointer-events: none;
    scale: 0;
    opacity: 0;
    margin: 0;
}

.sidebar.open .user h3 {
    scale: 1;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar .nav-title {
    color: #dadada;
    margin: 40px 0 18px;
    pointer-events: none;
    opacity: 0;
}

.sidebar.open .nav-title {
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding: 0 30px;
}

.sidebar nav ul {
    padding: 0;
}

.sidebar nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    margin: 8px 0;
    color: #000;
    transition: .3s;
}

.sidebar nav .nav-item.active {
    background: #4253FF;
    color: #fff;
}

.sidebar nav .nav-item:hover {
    background: rgba(0, 0, 0, 0.3);
}

.sidebar nav .nav-item svg {
    width: 32px;
    height: 32px;
}

.sidebar nav .nav-item span {
    width: 0;
    font-size: 18px;
    margin-left: 1rem;
    opacity: 0;
    pointer-events: none;
}

.sidebar.open nav .nav-item span {
    width: 80%;
    opacity: 1;
    pointer-events: visible;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar hr {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .1);
    opacity: 0;
    margin: 0;
}

.sidebar.open hr {
    opacity: 1;
    transition: .4s;
}

.sidebar .toggle {
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 90px;
    right: -20px;
    font-size: 2.5rem;
    line-height: 50%;
    text-align: center;
    border-radius: 50%;
    padding: 2px 0 2px 2px;
    background: rgba(10, 10, 10, 1);
}

.sidebar .toggle svg {
    transition: .4s linear;
}

.sidebar.open .toggle svg {
    transform: rotateY(180deg);
}